<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/styleLanding.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/styleAdd.css" media="screen" title="no title" charset="utf-8">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/index.js"></script>
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
  </body>

</html>
