<audio id="my_audio" src="/audio/landing_theme.mp3" loop="loop"></audio>

<div class="landingBG">
    {{!-- Smoking Gun --}}
    <ul class="smoking_gun">
        <div class="listings">
            <li class="a"></li>
        </div>
        <div class="listings">
            <li class="b"></li>
        </div>
        <div class="listings">
            <li class="c"></li>
        </div>
        <div class="listings">
            <li class="d"></li>
        </div>
        <div class="listings">
            <li class="e"></li>
        </div>
        <div class="listings">
            <li class="f"></li>
        </div>
        <div class="listings">
            <li class="g"></li>
        </div>
        <div class="listings">
            <li class="h"></li>
        </div>
        <div class="listings">
            <li class="i"></li>
        </div>
        <div class="listings">
            <li class="j"></li>
        </div>
        <div class="listings">
            <li class="k"></li>
        </div>
        <div class="listings">
            <li class="l"></li>
        </div>
        <div class="listings">
            <li class="m"></li>
        </div>
        <div class="listings">
            <li class="n"></li>
        </div>
        <div class="listings">
            <li class="o"></li>
        </div>
        <div class="listings">
            <li class="p"></li>
        </div>
        <div class="listings">
            <li class="q"></li>
        </div>
    </ul>
    <div class="relative">
        <p>BOUNTY</p>
    </div>
    <br>
    <br>
    <br>
    <div id="text">
        <p>CREATE . DELIVER . COLLECT</p>
    </div>
    <form action='/add' method='POST' class="landingForm">
        <button id="create" onclick="javascript:playSound('cartoon_ricochet.mp3')">Create Bounty</button>
    </form>
    {{!-- onclick="javascript:playSound('cartoon_ricochet.mp3'); --}}
    <form action='/display' method='POST' class="landingForm">
        <button id="bounty" onclick="javascript:playSound('cartoon_ricochet.mp3');">Wanted</button>
    </form>

    {{!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascript/main.js"></script> --}}
</div>




<!-- Place in js file for button fx -->
<script>
    function playSound() {
        var sound = document.getElementById("create");
        sound.play();
    }
    console.log("play the sound");
</script>

<script>
    function playSound() {
        var sound = document.getElementById("bounty");
        sound.play();
    }
</script>