
<div>
    <div class="relative"><p>BOUNTY</p></div>
    <!-- Audio for rendering LANDING page-->
    <audio loop id="myAudio">
        <source src="./assets/The good the bad and the ugly.mp3" type="audio/mpeg">
    </audio>
    <!-- Audio for Button Click Event -->
    <!-- <audio id="button_fx" src="cartoon_ricochet.mp3" preload="auto"></audio> -->
    <br>
    <br>
    <br>
    <div id="text">
        <p>CREATE . DELIVER . COLLECT</p>
    </div>
    <!-- Submit CREATE Bounty Button with Audio -->
    <!-- <button id="create" type="submit" name="Create Needed Task">Create Bounty</button> -->
    <form action='/add' method='POST'>
    <button id="create" onclick="javascript:playSound('cartoon_ricochet.mp3')">Create Bounty</button>
    </form>
    onclick="javascript:playSound('cartoon_ricochet.mp3');
    <!-- Submit COLLECT Bounty Button with Audio -->
    <!-- <button id="bounty" type="submit" name="Bounty">Collect Bounty</button> -->
    <form action='/display' method='POST'>
    <button id="bounty" onclick="javascript:playSound('cartoon_ricochet.mp3');">Wanted </button>
    </form>
{{!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascript/main.js"></script> --}}
</div>




<!-- Place in js file for button fx -->
    <script>
    function playSound() {
          var sound = document.getElementById("create");
          sound.play();
      }
      console.log("play the sound");
    </script>

<script>
        function playSound() {
              var sound = document.getElementById("bounty");
              sound.play();
          }
        </script> 

  