//- doctype html
//- html(lang='en')
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content
doctype html
html(lang='en')
  head   
    title= title
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    //- link(type="text/css", rel='stylesheets', href='../public/stylesheets/bootstrap.css')
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //- script(type="text/javascript" src='../public/javascripts/bootstrap.js')
    //- script(type="text/javascript" src="/javascripts/index.js")
    //- link(type="text/css" rel='stylesheets', href='../public/stylesheets/style.css')
    
  
  body
    .navbar.navbar-default(role='na')
      .container
  .navbar-header
  button.navbar-toggle(type='button', data-toggle='collapse', data-target=' .navbar-collapse')
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='#',) NodeAuth
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            if user
              li(class=(title == 'Members' ? 'active' : ''))
                a(href='/') Members
            if !user            
              li(class=(title == 'Register' ? 'active' : ''))
                a(href='/users/register') Register
              li(class=(title == 'Login' ? 'active' : ''))
                a(href='/users/login') Login
          ul.nav.navbar-nav.navbar-right
           if user
            li
                a(href='/users/logout') Logout
      .container
      != messages()
      block content

