.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	margin-top: 5%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #eeeeeece;
	border-radius: 2%;
	border: 2px gold solid;
}
.grid:nth-child(2){
	border-left: 1px solid rgba(0, 0, 0, 0.212);
	border-right: 1px solid rgba(0, 0, 0, 0.212);	
}

.titTex {
	text-align: center;
}


.grid ul {
	margin-left: 2%;
	padding: 0;
}

.grid li {
	padding: 30px;
	margin: 10px;
	border-bottom: 1px solid rgba(255, 230, 0, 0.233);
}

.bountyBtn {
	margin-left: 20%;
	text-align: center;
}

.grid h3 {
	padding: 0;
	margin: 0;
}