h1 {
    font-family: Bleeding Cowboys;
    font-size: 73.5px;
    padding-top: 0%;
    margin-left: 33%;
    padding-left: 24%;
    padding-right: 0%;
    text-shadow:
        -0.7px -0.7px 0 rgb(226, 170, 17),
        0.7px -0.7px 0 rgb(226, 170, 17),
        -0.7px 0.7px 0 rgb(226, 170, 17),
        0.7px 0.7px 0 rgb(226, 170, 17);
}

/* Input Fields on Form */
.form-group {
    width: 57%;
    margin-left: 43%;
}

#title {
    border: solid 1px rgb(226, 170, 17);
    outline: 2px solid black;
    background: rgba(255, 254, 254, 0.692);

}

label {
    font-family: Bleeding Cowboys;
    font-size: 21px;
    text-shadow:
      -0.2px -0.2px 0 rgb(226, 170, 17),
      0.2px -0.2px 0 rgb(226, 170, 17),
      -0.2px 0.2px 0 rgb(226, 170, 17),
      0.2px 0.2px 0 rgb(226, 170, 17);
}

#description {
    border: solid 1px rgb(226, 170, 17);
    outline: 2px solid black;
    background: rgba(255, 254, 254, 0.692);
    height: 140px;
}

#reward {
    border: solid 1px rgb(226, 170, 17);
    outline: 2px solid black;
    background: rgba(255, 254, 254, 0.692);

}

.add_button {
    font-family: Bleeding Cowboys;
    font-size: 20px;
    background: rgba(255, 254, 254, 0.795);
    border: solid 2px black;
    outline: 1px solid rgb(226, 170, 17);
    text-shadow:
      -0.2px -0.2px 0 rgb(226, 170, 17),
      0.2px -0.2px 0 rgb(226, 170, 17),
      -0.2px 0.2px 0 rgb(226, 170, 17),
      0.2px 0.2px 0 rgb(226, 170, 17);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 43%;
}

.viewable {
    font-family: Bleeding Cowboys;
    font-size: 25px;
    padding-left: 477px;
    padding-top: 34px;
    text-shadow:
      -0.2px -0.2px 0 rgb(226, 170, 17),
      0.2px -0.2px 0 rgb(226, 170, 17),
      -0.2px 0.2px 0 rgb(226, 170, 17),
      0.2px 0.2px 0 rgb(226, 170, 17);    
}

.button1 {
    font-family: Bleeding Cowboys;
    font-size: 13px;
    background: rgba(255, 254, 254, 0.486);
    margin-right: 0%;
    margin-left: 85%;
    margin-top: 0.1%;
    width: 12%;
    float: left;
    border: solid 1.5px rgb(226, 170, 17);
    outline: 3px solid black;
    text-shadow:
		-0.2px -0.2px 0 rgb(226, 170, 17),
        0.2px -0.2px 0 rgb(226, 170, 17),
        -0.2px 0.2px 0 rgb(226, 170, 17),
        0.2px 0.2px 0 rgb(226, 170, 17);
    padding-right: 4%;
    padding-left: 4%;
}

.button2 {
    font-family: Bleeding Cowboys;
    font-size: 13px;
    background: rgba(255, 254, 254, 0.486);
    margin-right: 0%;
    margin-left: 100%;
    margin-top: -4%;
    width: 12%;
    float: left;
    border: solid 1.5px rgb(226, 170, 17);
    outline: 3px solid black;
    text-shadow:
		-0.2px -0.2px 0 rgb(226, 170, 17),
        0.2px -0.2px 0 rgb(226, 170, 17),
        -0.2px 0.2px 0 rgb(226, 170, 17),
        0.2px 0.2px 0 rgb(226, 170, 17);
        padding-right: 2%;
        padding-left: 2%;
}

.links {
    padding-top: 1%;
    padding-bottom: 3%;
    margin-right: 1%;
}

/* Smoking Gun */
.smoking_gun {
    position: absolute;
    top: 11%;
    left: 31.1%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

.a {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.b {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.c {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.d {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.e {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.f {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.g {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.h {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.i {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.j {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.k {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.l {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.m {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.n {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.o {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.p {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.q {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.listings:nth-child(even) {
    animation: animateEven 5s linear infinite;
}

.listings:nth-child(odd) {
    animation: anitmateOdd 5s linear infinite;
}
.listings:nth-child(17) {
    animation: none;
    filter: blur(15px);
}

@keyframes animateEven {
    0%
    {
    transform: translate(0,0) scale(1);
    opacity: 1;
    filter: blur(5px);
}
    100%
    {
    transform: translate(100px,-500px) scale(3);
    opacity: 0;
    filter: blur(10px);
    }
}

.listings:nth-child(1) {
    animation-delay: 0s;
}

.listings:nth-child(2) {
    animation-delay: 0.1s;
}

.listings:nth-child(3) {
    animation-delay: 0.2s;
}

.listings:nth-child(4) {
    animation-delay: 0.3s;
}

.listings:nth-child(5) {
    animation-delay: 0.4s;
}

.listings:nth-child(6) {
    animation-delay: 0.5s;
}

.listings:nth-child(7) {
    animation-delay: 0.6s;
}

.listings:nth-child(8) {
    animation-delay: 0.7s;
}

.listings:nth-child(9) {
    animation-delay: 0.8s;
}

.listings:nth-child(10) {
    animation-delay: 0.7s;
}

.listings:nth-child(11) {
    animation-delay: 0.8s;
}

.listings:nth-child(12) {
    animation-delay: 0.9s;
}

.listings:nth-child(13) {
    animation-delay: 1s;
}

.listings:nth-child(14) {
    animation-delay: 1.1s;
}

.listings:nth-child(15) {
    animation-delay: 1.2s;
}

.listings:nth-child(16) {
    animation-delay: 1.3s;
}

.listings:nth-child(17) {
    animation-delay: 1.4s;
}

.formish {
    width: 60px;
}