body {
    background-image: url("../images/bg3c7.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.relative {
    font-family: Bleeding Cowboys;
    font-size: 150px;
    position: relative;
    margin-left: 52%;
    /* margin-top: -205px; */
    color: black;
    text-shadow:
		-0.7px -0.7px 0 rgb(226, 170, 17),
        0.7px -0.7px 0 rgb(226, 170, 17),
        -0.7px 0.7px 0 rgb(226, 170, 17),
		0.7px 0.7px 0 rgb(226, 170, 17);
}

#create {
    font-family: Bleeding Cowboys;
    font-size: 17px;
    background: rgba(255, 254, 254, 0.486);
    margin-right: 1%;
    margin-left: 33%;
    margin-top: 7%;
    width: 19%;
    float: left;
    border: solid 1.5px rgb(226, 170, 17);
    outline: 3px solid black;
    text-shadow:
		-0.2px -0.2px 0 rgb(226, 170, 17),
        0.2px -0.2px 0 rgb(226, 170, 17),
        -0.2px 0.2px 0 rgb(226, 170, 17),
		0.2px 0.2px 0 rgb(226, 170, 17);
}

#bounty {
    font-family: Bleeding Cowboys;
    font-size: 17px;
    background: rgba(255, 254, 254, 0.486);
    margin-left: 57%;
    margin-top: -7.4%;
    width: 19%;
    float: left;
    border: solid 1.5px rgb(226, 170, 17);
    outline: 3px solid black;
    text-shadow:
		-0.2px -0.2px 0 rgb(226, 170, 17),
        0.2px -0.2px 0 rgb(226, 170, 17),
        -0.2px 0.2px 0 rgb(226, 170, 17),
		0.2px 0.2px 0 rgb(226, 170, 17);
}

#text {
    font-family: Bleeding Cowboys;
    color: black;
    font-size: 33px;
    margin-left: 57%;
    margin-top: 3%;
    text-decoration: underline black;
    text-shadow:
		-0.5px -0.5px 0 rgb(226, 170, 17),
        0.5px -0.5px 0 rgb(226, 170, 17),
        -0.5px 0.5px 0 rgb(226, 170, 17),
		0.5px 0.5px 0 rgb(226, 170, 17);
}  

/* Smoking Gun */
.smoking_gun {
    position: absolute;
    top: 11%;
    left: 31.1%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

.a {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.b {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.c {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.d {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.e {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.f {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.g {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.h {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.i {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.j {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.k {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.l {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.m {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.n {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.o {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.p {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.q {
    position: absolute;
    list-style: none;
    width: 11px;
    height: 8px;
    background: black;
    border-radius: 50%;
}

.listings:nth-child(even) {
    animation: animateEven 5s linear infinite;
}

.listings:nth-child(odd) {
    animation: anitmateOdd 5s linear infinite;
}
.listings:nth-child(17) {
    animation: none;
    filter: blur(15px);
}

@keyframes animateEven {
    0%
    {
    transform: translate(0,0) scale(1);
    opacity: 1;
    filter: blur(5px);
}
    100%
    {
    transform: translate(100px,-500px) scale(3);
    opacity: 0;
    filter: blur(10px);
    }
}

.listings:nth-child(1) {
    animation-delay: 0s;
}

.listings:nth-child(2) {
    animation-delay: 0.1s;
}

.listings:nth-child(3) {
    animation-delay: 0.2s;
}

.listings:nth-child(4) {
    animation-delay: 0.3s;
}

.listings:nth-child(5) {
    animation-delay: 0.4s;
}

.listings:nth-child(6) {
    animation-delay: 0.5s;
}

.listings:nth-child(7) {
    animation-delay: 0.6s;
}

.listings:nth-child(8) {
    animation-delay: 0.7s;
}

.listings:nth-child(9) {
    animation-delay: 0.8s;
}

.listings:nth-child(10) {
    animation-delay: 0.7s;
}

.listings:nth-child(11) {
    animation-delay: 0.8s;
}

.listings:nth-child(12) {
    animation-delay: 0.9s;
}

.listings:nth-child(13) {
    animation-delay: 1s;
}

.listings:nth-child(14) {
    animation-delay: 1.1s;
}

.listings:nth-child(15) {
    animation-delay: 1.2s;
}

.listings:nth-child(16) {
    animation-delay: 1.3s;
}

.listings:nth-child(17) {
    animation-delay: 1.4s;
}