.bboard {
  font-family: Bleeding Cowboys;
  font-size: 105px;
  text-align: center;
  margin-left: 0%;
  margin-right: 2%;
  margin-bottom: 0%;
  margin-top: -3%;
  padding-top: 0%;
  padding-left: 2%;
  padding-right: 4%;
  text-shadow:
      -0.7px -0.7px 0 rgb(226, 170, 17),
      0.7px -0.7px 0 rgb(226, 170, 17),
      -0.7px 0.7px 0 rgb(226, 170, 17),
      0.7px 0.7px 0 rgb(226, 170, 17);
}

.opacity {
  background-color: rgba(230, 230, 230, 0.158);
}

h2 {
  font-family: Bleeding Cowboys;
  font-size: 48px;
  text-align: center;
  color: black;
  margin-right: 10%; 
  margin-left: 7%;
  margin-top: 8%;
  text-decoration: underline black;
  text-shadow:
      -0.5px -0.5px 0 rgb(226, 170, 17),
      0.5px -0.5px 0 rgb(226, 170, 17),
      -0.5px 0.5px 0 rgb(226, 170, 17),
      0.5px 0.5px 0 rgb(226, 170, 17);
}

h3 {
  font-family: Bleeding Cowboys;
  color: black;
  margin-top: 4%;
  font-size: 31px;
  margin-right: 19%;
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 10%;
  text-shadow:
      -0.2px -0.2px 0 rgb(226, 170, 17),
      0.2px -0.2px 0 rgb(226, 170, 17),
      -0.2px 0.2px 0 rgb(226, 170, 17),
      0.2px 0.2px 0 rgb(226, 170, 17);
}

.prog {
  font-family: Bleeding Cowboys;
  color: black;
  margin-top: 4%;
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#home {
  background-image: url("../images/bg3c11.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.titTex {
  font-size: 20px;
  font-family: sans-serif;
}

.prog {
  font-size: 20px;
  font-family: sans-serif;
}

li {
  font-family: Bleeding Cowboys;
  color: black;
  margin-top: 4%;
  font-size: 45px;
  margin-right: 10%;
  margin-left: 10%;
  padding-left: 20%;
  padding-right: 10%;
}

.descript {
  font-size: 20px;
  font-family: sans-serif;
}

/* Accepted Button */
.accepted {
  font-family: Bleeding Cowboys;
  font-size: 21px;
  background: rgba(255, 254, 254, 0.486);
  width: 43%;
  border: solid 2px rgb(226, 170, 17);
  outline: 4px solid black;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: -28%;
}

/* Completed Button */
.completed {
  font-family: Bleeding Cowboys;
  font-size: 21px;
  background: rgba(255, 254, 254, 0.486);
  width: 43%;
  border: solid 2px rgb(226, 170, 17);
  outline: 4px solid black;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: -28%;
}

hr {
  border: solid 2px black;
  outline: 1px solid rgb(226, 170, 17);
  width: 55%;
  margin-left: 20%;
  margin-right: 30%;
}

.button3 {
  font-family: Bleeding Cowboys;
  font-size: 15px;
  background: rgba(255, 254, 254, 0.486);
  margin-right: 0%;
  margin-left: 75%;
  margin-top: 0%;
  width: 10%;
  float: left;
  border: solid 1.5px rgb(226, 170, 17);
  outline: 3px solid black;
  text-shadow:
      -0.2px -0.2px 0 rgb(226, 170, 17),
      0.2px -0.2px 0 rgb(226, 170, 17),
      -0.2px 0.2px 0 rgb(226, 170, 17),
      0.2px 0.2px 0 rgb(226, 170, 17);
  padding-right: 3%;
  padding-left: 3%;
}

.button4 {
  font-family: Bleeding Cowboys;
  font-size: 15px;
  background: rgba(255, 254, 254, 0.486);
  margin-right: 0%;
  margin-left: 87%;
  margin-top: -4.1%;
  width: 10%;
  float: left;
  border: solid 1.5px rgb(226, 170, 17);
  outline: 3px solid black;
  text-shadow:
  -0.2px -0.2px 0 rgb(226, 170, 17),
      0.2px -0.2px 0 rgb(226, 170, 17),
      -0.2px 0.2px 0 rgb(226, 170, 17),
      0.2px 0.2px 0 rgb(226, 170, 17);
      padding-right: 2%;
      padding-left: 2%;
}

.landingForm {
  padding-bottom: 10px;
  padding-left: 0%;
  padding-right: 1%;
  width: 60%;
  margin-right: 10px;
  float: right;
  padding-top: 22px;
}

.donezo{
  text-decoration: line-through;
}